.c1, .c2{
    height: 10em;
    width: 10em;
    border: 0.2em solid black;
    margin: 0.2em;
    /* display: inline-block; */
    float: left;
    text-align: center;
    border-radius: 20%;
    font-size: 120%;
    color: white;
}
.c1{
    background-color: #7A43E0;
}
.c2{
    background-color: #43E07A;
}